useDynLib(dbR6, .registration = TRUE)
importFrom(Rcpp, evalCpp)
export(dbR6)
export(dbR6Parent)
export(dbR6_load_metadata)
import(chunkR)
importFrom(R6,R6Class)
importFrom(crayon,bgCyan)
importFrom(crayon,bgMagenta)
importFrom(crayon,bold)
importFrom(methods,setOldClass)
importFrom(stats,na.omit)
importFrom(utils,read.table)
